.appMain{
    text-align: right;
    background-color: darkgreen;
    height: 50px;
}
.h2{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    padding-right: 0px;
}
.h3{
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    padding-right: 0px;
}